



<div class="tech-btm">

    <p>Teknoloji , yazılım ve diğer bloglar...</p>
   
        <input type="email" placeholder="Email" id="txtMail" required="" name="Mail">
        <input type="submit" id="btn" value="Abone Ol">
 

</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
    $("#btn").click(function () {
        let values = {
            Mail: $("#txtMail").val()
        };
        $.ajax({
            type: "post",
            url: "/NewsLetter/SubscribeMail/",
            data: values,
            success: function (func) {
                let result = jQuery.parseJSON(func);
            }
        });
    });
</script>
