<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Dashboard</h1>

                <h3 class="font-bold no-margins">
                    Asp.Net Core 5.0
                </h3>
                <small>Projemizin panaelinde asmin işlemleri bir area yapısı üzerinden gerçeklşir. Sol tarafta yer alan Sidev</small>

            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1" style="padding: 0px; position: relative;"><canvas class="flot-base" width="801" height="100" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 801.5px; height: 100px;"></canvas><canvas class="flot-overlay" width="801" height="100" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 801.5px; height: 100px;"></canvas></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Son  Blog</h1>
                
                <h3 class="font-bold no-margins">
                    @ViewBag.V1
                </h3>
                <small>Tüm Bloglar...</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2" style="padding: 0px; position: relative;"><canvas class="flot-base" width="385" height="100" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 385.75px; height: 100px;"></canvas><canvas class="flot-overlay" width="385" height="100" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 385.75px; height: 100px;"></canvas></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">₺ 50,992</h1>

                <h3 class="font-bold no-margins">
                    Blog Site Kazancı
                </h3>
                <small>Ürün Tanıtımları ,Promosyonlar, Reklamlar,Anlaşmalar</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3" style="padding: 0px; position: relative;"><canvas class="flot-base" width="385" height="100" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 385.75px; height: 100px;"></canvas><canvas class="flot-overlay" width="385" height="100" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 385.75px; height: 100px;"></canvas></div>
            </div>
        </div>
    </div>
</div>
