
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>burası şlk olsuturdugum ıaction result sayfamdır...</h3>
<table>
    <tr>
        <td>ıd</td>
        <td>Ad</td>
        <td>Soyad</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Esra</td>
        <td>Orhan</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Suat</td>
        <td>Demir</td>
    </tr>
</table>
